@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

:root{
    --title_color: #155F52;
    --text_color: #636363;
    --primary-button_color: #155F52;
    --primary-button_color-hover: #114b41;
    --secondary-button_color: rgba(21, 95, 82, 0.1);
    --terciary-button_color: #155F52;
    --border-radius_buttons: 8px;
    --max-width: 720px;
}

html{
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{

    font-family: 'Open Sans';
    font-style: normal;

    display: flex;
    width: 100vw;

    height: 100%;
    padding: 16px 16px 40px 16px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 24px;

    width: 100%;
    max-width: var(--max-width);
    
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    max-width: var(--max-width);
}

nav img:nth-child(1){
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.btn-primary{
    display: flex;
    flex-direction: row;
    height: 48px;
    padding: 4px 28px;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
    background: var(--Primary, #009A63);
    box-shadow: 0px 5px 20px 0px rgba(18, 13, 71, 0.20);
    border: none;
	cursor: pointer;
    text-decoration: none;
    
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.25px;
}

.btn-primary:hover{
    background: var(--Primary, #048054);
}

.btn-primary:active{
    background: var(--Primary, #035a3c);
}

.btn-secondary{
    display: flex;
    flex-direction: row;
    height: 48px;
    padding: 4px 28px;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    width: fit-content;

    border-radius: 16px;
    border: 1px solid #175F53;
    background: #E8F4EF;

    color: #175F53;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.25px;

    text-decoration: none;
}

.btn-secondary:hover{
    background-color: #bedad0;
}

.btn-secondary>p, .btn-link>p{
    display: flex;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-full{
    width: 100%;
}

.btn-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-link>p{   

    color: #175F53;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.25px;
}

/*Chips Start*/

.description-chips{
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.description-chips>div{
    display: flex;
    height: 24px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}

.description-chips>div>p{
    color: #333;
    text-align: center;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.25px;

    display: flex;
    padding: 0px 4px;
    align-items: flex-start;
}

.chip-disponibilidad{
    background: #F7E6E1;
}

.chip-disponibilidad>img{
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
}

.chip-ingles{
    border-radius: 24px;
    border: 1px solid #00599A;
    background: #DCE9FD;
}

.chip-viajar{
    border-radius: 24px;
    border: 1px solid #009A63;
    background: #E8F4EF;
}

/*Chips End*/



@media only screen and (max-width: 760px) {


}